<a href="https://colab.research.google.com/github/Gregoriodata/10_02_2022/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Atlas da Violencia No Brasil - Fonte IPE

> Bloco com recuo

Importando as Bibliotecas

In [13]:
import pandas as pd

In [14]:
import requests as rq  #Biblioteca utilizada para realizar a chamada da API

Chamada da API

In [15]:
r = rq.get('https://www.ipea.gov.br/atlasviolencia/api/v1/valores-series/40/3') # Chamada da API do IPE

In [16]:
r1 = r.json()

In [18]:
df = pd.DataFrame(r1)

In [21]:
df

    cod sigla valor     periodo
0    17    TO    14  1989-01-15
1    14    RR    12  1989-01-15
2    15    PA    51  1989-01-15
3    16    AP     3  1989-01-15
4    12    AC     6  1989-01-15
..   ..   ...   ...         ...
832  52    GO   161  2019-01-15
833  53    DF    55  2019-01-15
834  13    AM   118  2019-01-15
835  14    RR    33  2019-01-15
836  11    RO    43  2019-01-15

[837 rows x 4 columns]